---
import Heading from "../../shared/Heading.astro";
import Text from "../../shared/Text.astro";

// Define TypeScript interfaces
interface Props {
  title: string;
  title_suffix: string;
  description: string;
  remove_top_padding?: boolean;
}

const { title, title_suffix, description, remove_top_padding } = Astro.props;
---

<section class="py-0">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex">
      <div class="w-full lg:w-2/3 mx-auto">
        <div class={`text-center relative ${remove_top_padding ? "pt-0 pb-16" : "pt-12 sm:pt-24 xl:pt-36 2xl:pt-40 pb-16"}`}>
          <Heading level={2} class="pb-6">
            <editable-text data-prop="title">{title}</editable-text>
            <span class="text-primary">
              <editable-text data-prop="title_suffix">{title_suffix}</editable-text>
            </span>
          </Heading>
          <Text text={description} data-prop="description" data-editable="text" markdown={true} size="lg" />
        </div>
      </div>
    </div>
  </div>
</section>
