---
import Button from "@components/shared/Button.astro";
import Heading from "@components/shared/Heading.astro";
import Layout from "@layouts/Layout.astro";
import ErrorImage from "@public/images/404/error.png";
import { Image } from "astro:assets";
---

<Layout title="404 Not Found">
  <section class="grid place-items-center pt-30">
    <Image src={ErrorImage} alt="404 error image" width={400} height={300} />
    <Heading level={2} text="Oops! Page not found." class="p-4" />
    <Button href="/" class="m-6">Try again</Button>
  </section>
</Layout>
